<ul>
  <li>{{link-to 'react' 'orgs.repos.issues' 'react'}}</li>
  <li>{{link-to 'react-native' 'orgs.repos.issues' 'react-native'}}</li>
  <li>{{link-to 'watchman' 'orgs.repos.issues' 'watchman'}}</li>
</ul>

{{outlet}}
