<h2>My Favorite Orgs</h2>

<ul>
  <li>{{link-to 'Jquery' 'orgs.repos' 'jquery'}}</li>
  <li>{{link-to 'Ember' 'orgs.repos' 'emberjs' }}</li>
  <li>{{link-to 'Netflix' 'orgs.repos' 'netflix' }}</li>
</ul>

{{outlet}}
